# Dependencies
node_modules/

# Environment
.env
.env.local

# Build output
dist/
build/

# Prisma (tidak commit file dev)
prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
